@import url("http://fonts.cdnfonts.com/css/samsung-sharp-sans");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Samsung Sharp Sans", sans-serif;
  /* margin: 2rem 4rem; */
}
a {
  text-decoration: none;
}

li {
  list-style: none;
}
#header {
  width: 90%;
  margin: auto;
  display: flex;
  justify-content: space-between;
}
/* nav {
  position: fixed;
  top: 0;
  width: 100%;
} */
#header-img {
  width: 12vw;
  padding: 30px 1px;
  z-index: 5;
  position: fixed;
}
.nav {
  display: flex;
  right: 40px;
  position: fixed;
  background-color: white;
  z-index: 1;
  margin: 0;
  padding: 30px 40px;
  width: 100%;
  justify-content: end;

  /* top: 0; */
}
.nav li {
  margin: auto 20px;
}
.nav li a {
  box-sizing: border-box;
  font-weight: 500;
  color: black;
  padding: 10px 20px;
  transition: 0.3s;
}
.nav li a:hover {
  border-radius: 50px;
  background-color: black;
  color: white;
}
.nav li .active {
  border-radius: 50px;
  background-color: black;
  color: white;
}
.home {
  width: 80%;
  margin: 150px auto;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.home img {
  width: 100%;
  transform: scale(1.5);
  transition: 1s;
}

.home div h2 {
  font-size: 5vw;
  font-family: "Samsung Sharp Sans", sans-serif;
}

.home div p {
  margin: 20px 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-size: 1.1em;
}

.home div a {
  padding: 10px;
  margin: 20px 0;
  margin-right: 20px;
  display: inline-block;
  border-radius: 25px;
  font-family: "Samsung Sharp Sans", sans-serif;
  font-weight: 500;
  transition: 0.3s;
}
.home div .btn {
  border: 2px solid black;
  color: black;
  font-size: 1vw;
}
.home div .btn:hover {
  color: white;
  background: black;
}
.home div .buynow:hover {
  color: white;
  background: blue;
}
.buynow {
  width: 25%;
  text-align: center;
  background: rgb(40, 111, 243);
  border: 2px solid rgb(40, 111, 243);
  color: white;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 1vw;
}
.specs {
  width: 80%;
  margin: 70px auto;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  padding-top: 20px;
  justify-content: space-between;
}
.specs h3 {
  font-size: 40px;
  font-family: "Samsung Sharp Sans", sans-serif;
  margin-bottom: 20px;
}
.specs .specifications {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
  margin: 0;
  padding: 0;
  background-color: rgb(240, 240, 240);
  border-radius: 10px;
}
.specs .specifications div {
  justify-self: center;
  align-self: center;
  text-align: center;
}
.specs .specifications div h4 {
  font-weight: 500;
}
.specs a {
  display: grid;
  width: 20%;
  height: 5vh;
  align-items: center;
  text-align: center;
  background: rgb(255, 255, 255);
  border: 2px solid rgb(0, 0, 0);
  color: rgb(2, 0, 0);
  letter-spacing: 1px;
  font-weight: 800;
  font-size: 1vw;
  border-radius: 50px;
  margin-top: 30px;
  transition: 0.3s;
}
.specs a:hover {
  background: rgb(0, 0, 0);
  color: rgb(255, 255, 255);
  letter-spacing: 2px;
}
.updates {
  width: 80%;
  margin: 70px auto;
  display: grid;
  grid-template-rows: repeat(3, 1fr);
}
.updates h1 {
  font-size: 40px;
  justify-self: center;
  margin: 0;
}
.updates #email {
  margin: 0;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  width: 40%;
  height: 5vh;
  text-align: center;
  border-radius: 10px;
  background-color: rgb(240, 240, 240);
  /* border: 2px solid rgb(40, 111, 243); */
  letter-spacing: 2px;
}
.updates .sub {
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  width: 10%;
  height: 5vh;
  margin-top: 10px;
  text-align: center;
  border-radius: 10px;
  background: rgb(40, 111, 243);
  border: rgb(40, 111, 243);
  color: white;
  font-family: "Samsung Sharp Sans", sans-serif;
  letter-spacing: 1px;
  border-radius: 50px;
}
.updates .sub:hover {
  color: white;
  background: blue;
}
.support {
  width: 90%;
  margin: 20px auto;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  border-top: 1px solid black;
  padding: 50px 50px;
}
.support div h4 {
  margin: 15px auto;
  font-weight: 500;
  font-size: 1.4em;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande";
}
.support div ul li a {
  font-size: 16px;
  color: black;
  line-height: 30px;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}
.support div ul li a:hover {
  text-decoration: underline;
}
.links {
  display: flexbox;
  flex-direction: column;
}
@media (max-width: 1024px) {
  .specs {
    width: 80%;
    margin: 70px auto;
    display: grid;
    grid-template-rows: repeat(2, 1fr);
    grid-template-columns: 100%;
    padding-top: 20px;
    justify-content: space-between;
    justify-self: center;
  }
  .specs iframe {
    position: relative;
    left: 50%;
    transform: translateX(-50%);
  }
  .specs .specifications {
    max-width: 560px;
    margin-top: 50px;
    justify-self: center;
    padding: 50px 20px;
  }
  .specs h3 {
    margin-bottom: 0;
  }
  .specs a {
    justify-self: center;
  }
}
